In [5]:
import pandas as pd

df_olympics = pd.read_csv("olympics_08_medalists.csv")

df_olympics_melted = pd.melt(df_olympics, id_vars=['medalist_name'],
                             value_vars=['male_archery','female_archery', 'male_athletics','female_athletics','male_badminton','female_badminton',
                                         'male_baseball','male_basketball','female_basketball','male_boxing','male_canoeing and kayaking','female_canoeing and kayaking',
                                         'male_road bicycle racing','female_road bicycle racing','male_track cycling','female_track cycling','male_mountain biking',
                                         'female_mountain biking','male_bmx','female_bmx','male_diving','female_diving','female_equestrian sport','male_equestrian sport',
                                         'male_fencing','female_fencing','male_field hockey','female_field hockey','male_association football','female_association football',
                                         'male_artistic gymnastics','female_artistic gymnastics','female_rhythmic gymnastics','male_trampoline gymnastics','female_trampoline gymnastics',
                                         'male_handball','female_handball','male_judo','female_judo','male_modern pentathlon','female_modern pentathlon','male_rowing','female_rowing',
                                         'male_sailing','female_sailing','male_shooting sport','female_shooting sport','female_softball','male_swimming','female_swimming',
                                         'female_synchronized swimming','male_table tennis','female_table tennis','male_taekwondo','female_taekwondo','male_tennis','female_tennis',
                                         'male_triathlon','female_triathlon','male_beach volleyball','female_beach volleyball','male_volleyball','female_volleyball','male_water polo',
                                         'female_water polo','male_weightlifting','female_weightlifting','male_freestyle wrestling','female_freestyle wrestling','male_greco-roman wrestling'],
                             var_name='Sport', value_name='Gender')

#df_olympics_melted['Sport'] = df_olympics_melted['Sport'].str.replace(['male', 'female'], '_')

print("\nMelted (Tidy) Student Scores DataFrame:")
print(df_olympics_melted)

Melted (Tidy) Student Scores DataFrame:
            medalist_name                       Sport Gender
0         Aaron Armstrong                male_archery    NaN
1           Aaron Peirsol                male_archery    NaN
2        Abdullo Tangriev                male_archery    NaN
3       Abeer Abdelrahman                male_archery    NaN
4                 Abhinav                male_archery    NaN
...                   ...                         ...    ...
131245        Éver Banega  male_greco-roman wrestling    NaN
131246  Ólafur Stefánsson  male_greco-roman wrestling    NaN
131247      Óscar Brayson  male_greco-roman wrestling    NaN
131248   Łukasz Pawłowski  male_greco-roman wrestling    NaN
131249        Živko Gocić  male_greco-roman wrestling    NaN

[131250 rows x 3 columns]